{
    "plugins": [
        {
            "name": "@backstage/plugin-catalog-backend-module-github",
            "version": "0.5.0",
            "comment": "GitHub Integration"
        },
        {
            "name": "@backstage/plugin-kubernetes-backend",
            "version": "0.18.0",
            "comment": "Kubernetes Plugin"
        },
        {
            "name": "@roadiehq/backstage-plugin-argo-cd-backend",
            "version": "2.14.0",
            "comment": "ArgoCD Plugin"
        },
        {
            "name": "@backstage-community/plugin-tech-radar",
            "version": "0.7.0",
            "comment": "Tech Radar Plugin"
        }
    ]
}
